<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Login</title>
</head>
<body>
    <div class="navbar-brand">
        <a href="/" class="navbar-item">
          <img src="https://uploads-ssl.webflow.com/5be7bc39ea60003da6a932e0/5be8c37ac9fc1ff7e3038120_kelp%20logo.png" alt="Logo">
        </a>
        <span class="navbar-burger burger" data-target="navbarMenuHeroA">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </div>
    <h1 class="welcome-kelp">Welcome to Kelp!</h1>

    <div class="row">
        <form class="col s12" action="/login" method="POST">
        <div class="row">
            <div class="input-field inline col s6">
    <input type="email" name="email" required />
    <label for="email" class="active">Email</label>
</div>
<div class="input-field inline col s6">
    <input type="password" name="password" id="Password" required />
<label class="active"for="password">Password</label>
</div>
</div>
    <input class="waves-effect waves-light btn" type="submit" value="Login">
    </form>

</div>
</div>
</body>
</html>

<!--  Create a registration button -->