<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Document</title>
</head>
<body>
    <h1>Write review for this restaurant</h1>
    <main>
        <form action="/restaurants/<%= restaurant._id %> " method="POST">
            <p>
                <input type="text" name="author" placeholder="Your Name" >
            </p>
            <p>
                Do you recommendthis restaurant? <input type="checkbox" name="recommend" >
            </p>
            <p>
                <textarea type="text" name="review" placeholder="Your review here"></textarea>
            </p>
            <p>
            
            </p>
            <input type="submit" value="Submit Review">
        </form>
    </main>
</body>
</html>