<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/">Home</a>
    <a href="/restaurants/new">Add A New Restaurant</a>
    <a href="/reviews/new">Leave A Review</a>
    <h1>Reviews</h1>
    <ul>
        <% review.forEach(review => { %>
            <li>
              <a href="/reviews/<%= review._id %>"> <%= review.review %> <br>  </a>

            </li>
            <% }) %>
    </ul>
</body>
</html>

