<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Document</title>
</head>
<body>
    <a href="/">Home</a>
    <a href="/restaurants/new">Add A New Restaurant</a>
   
    <h1>Reviews</h1>
    <a href="/restaurants">Restaurants</a>
    <a href="/">Home</a>
    <ul>
        <% review.forEach(review => { %>
            <li>
              <a href="/reviews/<%= review._id %>"> <%= review.review %> <br>  </a>

            </li>
            <% }) %>
    </ul>
</body>
</html>

