<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>New review</title>
</head>
<body>


    <section class="hero is-primary is-medium">
        <!-- Hero head: will stick at the top -->
        <div class="hero-head">
          <nav class="navbar">
            <div class="container">
              <div class="navbar-brand">
                <a href="/" class="navbar-item">
                  <img src="https://uploads-ssl.webflow.com/5be7bc39ea60003da6a932e0/5be8c37ac9fc1ff7e3038120_kelp%20logo.png" alt="Logo">
                </a>
                <span class="navbar-burger burger" data-target="navbarMenuHeroA">
                  <span></span>
                  <span></span>
                  <span></span>
                </span>
              </div>
              <div id="navbarMenuHeroA" class="navbar-menu">
                <div class="navbar-end">
                  <a class="navbar-item is-active" href="/restaurants">
                    All Restaurants
                  </a>
                  <a class="navbar-item" href="/reviews/new">Write A Review
                  </a>
                  <a class="navbar-item" href="/restaurants/new">Add a Restaurant
                 
                  </a>

                  <!-- Nav bar for login  -->
                  
                </div>
              </div>
            </div>
          </nav>
        </div>
      </section>

    
    <h1>Write New Review</h1>
   

    <main>
        <form class="row" action=/reviews method="POST">
<div class="row">
            <div class="input-field col s6">
                <input class="validate" type="text" name="author" />
                <label class="active" for="author">Name</label>
          </div>
            <div class="input-field col s6">
                <input class="validate" type="text" name="review" />
                <label class="active" for="review">Review</label>
            </div>
            <div class="input-field col s6">
            <div class="field">
                <div class="control">
                  <div class="select is-primary">
              <select>
                    <option default>Select Restaurant</option>
                    <% restaurants.forEach(restaurant => { %>
                        <option value="<%= restaurant._id %>"><%= restaurant.name %></option>
                    <% }) %> 
                </select> 
                </div>
            </div>
            </div>
        </div>
            </p>
            <input class="waves-effect waves-light btn"  type="submit" value="Submit Review">
        </form>
    </div>
    </main>
</body>
</html>