<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kelp Home Page</title>
</head>
<body>
    <h1>Kelp Home</h1>
    <a href="/restaurants">Restaurants</a><br>
    <a href="/restaurants/new">Add a Restaurant</a><br>
    <a href="/reviews/new">Leave A Review</a>
    
</body>
</html>