<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>

    <h1>Edit <%= restaurant.name %> </h1>
   <form action="/restaurants/ <%= restaurant._id %>?_method=PUT" method="POST">
        <p>
          <input
            type="text"
            name="name"
            placeholder="Name"
            value="<%= restaurant.name %> "
          />
        </p>

        <input type="submit" value="Update Restaurant Name "/>
      </form> 

</body>
</html> 