<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Restaurants</title>
</head>
<body>
    <main>
    <h1>All Restaurants</h1>
    <a href="/">Home</a>
<<<<<<< HEAD
    <a href="/restaurants/new">Add A New Restaurant</a>
    <a href="/reviews/new">Leave A Review</a>
=======
    <a href="/reviews/new">Write a Review</a>
>>>>>>> development
    <ul>
        <% restaurants.forEach(restaurant => { %>
<li>
    <a href="/restaurants/<%= restaurant._id %>"><%= restaurant.name %> </a>
</li>
<li>
    <a href="/restaurants/<%= restaurant._id %>/newreview">Write a review</a>
</li>

      <%  }) %> 
    </ul>

    <% if(restaurants.length === 0) { %>
        <p>There are no restaruants available yet.</p>
        <% } %>
    </main>
   



</body>
</html>