<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Restaurant</title>
</head>
<body>
    <h1>New Restaurant</h1>
    <a href="/">Home</a>
    <a href="/restaurants">Restaurants</a>
    <form action="/restaurants" method="POST">
        Name: <input type="text" name="name" /><br>
        Location: <input type="text" name="location" /><br>
        Does this restaurant deliver?: <input type="checkbox" name="delivery" /><br>
        Does this restaurant do takeout?: <input type="checkbox" name="takeOut" /><br>
        Does this restaurant have dine in option?: <input type="checkbox" name="dineIn" /><br>
        <input type="submit" value="New Restaurant" />
    </form>

</body>
</html>