body {
    background-color: whitesmoke;
    
}

.center-kelp-home-button {
    text-align: center;
}


.header-nav_item {
    list-style-type: none;
    display: inline-block;
  
   
}

.login-header-nav {
    text-align: right;
    
   
}

.register-kelp {
  color: grey;
  
}

/* label color */
.input-field label {
  color: whitesmoke;
}
/* label focus color */
.input-field {
  color:whitesmoke;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type=checkbox].invalid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
  color: white;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: #000;
}


