body {
    background-color: whitesmoke;
    
}

.ind-review-loop {
    font-size: 20px;
    font-weight: 10;
}

#review-review {
    padding-bottom: 20px;
    display: -webkit-inline-box;
    max-width: 40%;
    min-width: 0;
    height: auto;
}

#restaurant-image {
    max-width: 60%;
    height: auto;
}